# Compiled
*.elc

# Packaging
.cask
anaconda-mode/
elpa/
ido.last
server/
smex-items

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/tramp
/network-security.data
transient/
/package-selected-packages.el
/.lsp-session-v1
/.cache/
